
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        A propos de nous
    </div>
    <div class="panel-body">
        Convertisseur d'audio et de vidéo en ligne
        Le modèle économique de Transcode Inc est de vendre la puissance du processeur à travers le réseau. Les utilisateurs transmettent une requête à travers une interface web et le résultat de cette dernière leur est transmis une fois terminé. Pendant le processus, les premières taches disponibles seront le transcodage d'audio et vidéo.

        Ce site web vous permet de télécharger des fichiers audios ou vidéo en fournissant par exemple une URL qui contient un média.

    </div>
</div>