
@{
    ViewBag.Title = "Tarifs";
}

<h2>Tarifs</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        Tarifs
    </div>
    <div class="panel-body">
        Nos tarifs sont simples : nous vous facturons 1€ par Gb.
    </div>
</div>