
@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>

<div class="panel panel-primary" id="conversion">
    <div class="panel-heading">
        Conversion
    </div>

    <div class="panel-body">
        Nous vous offrons la possibilité de convertir un fichier ou un lien média. Vous devez choisir un format audio ou vidéo que vous désirez. Vos médias sont téléchargeable depuis votre espace de stockage personnel.
    </div>
</div>

<div class="panel panel-primary" id="stockage">
    <div class="panel-heading">
        Stockage
    </div>

    <div class="panel-body">
        Vous disposez de 10GB à la création de vore compte. Au-delà de ces 10GB gratuit, vous avez la possibilité d'acheter 10GB supplémentaire (voir les tarifs). Dans votre espace personnel, vous avez accès à un historique de conversion qui vous résume vos précédente conversion et paiement. Vous pouvez donc consulter ou télécharger vos médias directement dans votre espace de stockage personnel.
    </div>
</div>

<div class="panel panel-primary" id="stockage">
    <div class="panel-heading">
        Support
    </div>

    <div class="panel-body">
        Nous offrons un service de support en cas de problème dans votre espace personnel. Dans ce cas veuillez nous contacter à l'adresse suivant : trans4all@gmail.com
    </div>
</div>